#box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #242325;
    text-align: center;
    margin-left: 90px;
    margin: 154px;
    padding: 43px 44px;
}

#box h1 {
    margin-bottom: 28px;
}